<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bunizz.instapetts">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3652627287925800~2029449466" />
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="com.bunizz.instapetts"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <!-- ACTIVIDADES  -->


        <activity android:name=".activitys.Splash" android:theme="@style/Style_Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.intro.IntroActivity" />
        <activity android:name=".activitys.login.LoginActivity" />
        <activity android:name=".activitys.main.Main"/>
        <activity android:name=".activitys.wizardPets.WizardPetActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".utils.HistoryView.StoryPlayer"/>
        <activity android:name=".activitys.share_post.ShareActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activitys.camera_history.CameraHistoryActivity"    android:screenOrientation="fullUser"
            android:rotationAnimation="seamless"/>
        <activity android:name=".activitys.searchqr.QrSearchActivity"/>
        <activity android:name=".utils.qr.QrCodeActivity"></activity>

        <!-- ACTIVIDADES  -->
    </application>

</manifest>